@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Space Mono';
    cursor: url('../img/cursor/cursor.png'), auto;
}

.pointer {
    cursor: url('../img/cursor/pointer.png'), auto;
}

.locked {
    cursor: url('../img/cursor/not-available.png'), auto;

}

.title {
    font-family: "Pixelify Sans";
    font-size: 1.3rem;
}

.windowswallpaper{
    background-image: url(../img/wallpaper.png);
}